* {
  box-sizing: border-box; }

h3, a {
  text-decoration: none;
  color: #000; }

.two-main-stories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 4% 0 0; }
  .two-main-stories .main-story {
    width: 285px;
    margin-right: 1%; }
    .two-main-stories .main-story h3 {
      font-size: 14px;
      font-weight: 900;
      margin: 0; }
    .two-main-stories .main-story p {
      font-size: 12px;
      margin: 10px 0 0 0; }

.container {
  display: flex;
  width: 80%;
  height: auto;
  margin: 0 auto;
  overflow: auto; }
  .container .news-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 66.6%;
    height: auto; }
    @media all and (max-width: 750px) {
      .container .news-wrapper {
        width: 100%; } }
    .container .news-wrapper .two-main-stories {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 95%;
      margin: 0 4% 0 0; }
      .container .news-wrapper .two-main-stories .main-story {
        width: 285px;
        margin-right: 1%; }
        .container .news-wrapper .two-main-stories .main-story h3 {
          font-size: 14px;
          font-weight: 900;
          margin: 0; }
        .container .news-wrapper .two-main-stories .main-story p {
          font-size: 12px;
          margin: 10px 0 0 0; }
    .container .news-wrapper .wide-advert {
      display: flex;
      width: 94%;
      padding: 0 2%;
      background: purple;
      margin: 0 0 10px 0;
      color: #fff; }
    .container .news-wrapper .small-stories {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 95%;
      margin-right: 4%; }
      .container .news-wrapper .small-stories .small-story {
        display: flex;
        width: 285px;
        margin-right: 1%; }
        .container .news-wrapper .small-stories .small-story .small-story-text {
          margin: 0 3%; }
          .container .news-wrapper .small-stories .small-story .small-story-text h3 {
            font-size: 14px;
            font-weight: 900;
            margin: 0; }
          .container .news-wrapper .small-stories .small-story .small-story-text p {
            font-size: 12px;
            margin: 10px 0 0 0; }
    .container .news-wrapper .tall-story {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .container .news-wrapper .tall-story .tall-tale {
        width: 285px;
        height: 560px;
        background-color: yellow;
        margin-bottom: 10px; }
      .container .news-wrapper .tall-story .two-main {
        max-width: 50%;
        width: 285px;
        margin-right: 1%;
        margin: 0 5% 0 3%; }
        .container .news-wrapper .tall-story .two-main h3 {
          font-size: 14px;
          font-weight: 900;
          margin: 0; }
        .container .news-wrapper .tall-story .two-main p {
          font-size: 12px;
          margin: 10px 0 0 0; }
    .container .news-wrapper .sports-category .sports-banner {
      display: flex;
      width: 94%;
      padding: 0 2%;
      background: purple;
      margin: 0 0 10px 0;
      color: #fff;
      background: green; }

.front-page-sidebar {
  display: flex;
  width: 33.3%;
  background-color: rgba(145, 193, 252, 0.4); }
  @media all and (max-width: 750px) {
    .front-page-sidebar {
      display: none; } }
  .front-page-sidebar li {
    list-style: none; }
  .front-page-sidebar .wide-advert {
    display: flex;
    width: 94%;
    padding: 0 2%;
    background: purple;
    margin: 0 0 10px 0;
    color: #fff;
    width: 100%;
    height: 100px;
    padding: 5% 5%;
    margin: 20px 0; }
  .front-page-sidebar .two-main-stories {
    justify-content: space-around; }

/*# sourceMappingURL=style.css.map */
