.container {
	 @include container();
	.news-wrapper {
		display: flex;
		flex-wrap: wrap;
		width: 66.6%;
		height: auto;
		
		@import '_main-stories.scss';
		.wide-advert {
			@include banner();
			} 
		@import '_small-stories.scss';
		.tall-story {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@import '_tall-tale.scss';
			.two-main {
				max-width: 50%;
				@include main-story();
				// margin-right: 4%;
				margin: 0 5% 0 3%;
				h3 {
					font-size: 14px;
					font-weight: 900;
					margin: 0;
				}
				p {
					font-size: 12px;
					margin: 10px 0 0 0;
				}	
			}
			@media all and (max-width: 780px) {
				.two-main {
					margin: 0 auto;
				}
			}
		}
	
			.each-category {

				.sports-banner {
					@include banner();
					background: green;
					a h2 {
					color: #fff;
					} 
				}
				.politics-banner {
					@include banner();
					background: red;
					a h2 {
					color: #fff;
					} 
				}
				.science-banner {
					@include banner();
					background: yellow;
					a h2 {
					color: #000;
					} 
				}
			}

	}
	 @media all and (max-width: 1000px) {
		.news-wrapper {
			width: 100%;
		}
	}
}


	.front-page-sidebar {
		@include sidebar();
		.wide-advert {
			@include banner();
			  width: 100%;
			  height: 200px;
			  padding: 5% 5%;
			  margin: 20px 0;
			}
		.two-main-stories {
			justify-content: space-around;
		}
	}




