.small-stories {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 95%;
	margin-right: 4%;
	.small-story {
		display: flex;
		width: 285px;
		margin-right: 1%;
		@import '_small-text';
				
	}
}